ENV=local
BASE_URL=http://localhost:3000
API_BASE_URL=http://localhost:5001/api

DB_HOST=localhost
DB_PORT=5432
DB_NAME=qa_ecommerce
DB_USER=qa_user
DB_PASSWORD=qa_pass

DEFAULT_CUSTOMER_EMAIL=customer@test.com
DEFAULT_CUSTOMER_PASSWORD=Password123!
DEFAULT_ADMIN_EMAIL=admin@test.com
DEFAULT_ADMIN_PASSWORD=Admin123!
